<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559961107838-k97bm82tjk4tukorf6i6i642uecmqgel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559961107838-k97bm82tjk4tukorf6i6i642uecmqgel</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559961107838-q10j4ckilkjrie02pv0gfvf2dghr7cum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcde2D-wrIZbd6rUnG4Yli0KspVvJ-fJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>559961107838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denver.ignite</string>
	<key>PROJECT_ID</key>
	<string>ignite-420</string>
	<key>STORAGE_BUCKET</key>
	<string>ignite-420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559961107838:ios:e85897f7ed51978ffc172f</string>
	<key>DATABASE_URL</key>
	<string>https://ignite-420.firebaseio.com</string>
</dict>
</plist>